.commentaries {
  width: 100vw;
  overflow: hidden;
  padding-bottom: 100px;
  position: relative;
}
.commentaries h2 {
  font-size: 32px;
  padding-top: 100px;
  text-align: center;
}
.commentaries-slider {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 100px;
  margin-left: 0vw;
  flex-shrink: 0;
  transition: 0.3s ease-in-out;
}
.commentary-wrap {
  min-width: 50vw;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.commentary {
  max-width: 500px;
  max-height: 600px;
  flex-shrink: 0;
  padding: 20px;
  border-radius: 12px;
  transition: 0.3s ease-in-out;
  color: #282828;
}
.commentary img {
  width: 100%;
  border-radius: 8px;
}
.commentary p {
  font-family: Raleway, sans-serif;
}
.leaf-buttons {
  position: absolute;
  width: 680px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
.leaf-button {
  transition: 0.2s ease-in-out;
}
.leaf-button:hover {
  transform: scale(1.1);
}
.leaf-button__arrow-left:hover {
  transform: translateX(-10%) scale(1.05);
}
.leaf-button__arrow-right {
  transform: rotate(180deg);
}
.leaf-button__arrow-right:hover {
  transform: scale(1.05) rotate(180deg) translateX(-10%);
}
.feedback__decoration {
  position: absolute;
  top: 25%;
  height: 400px;
  color: #c4c4c4;
  z-index: -1;
  filter: blur(2px);
}
.feedback__decoration-left {
  left: 50px;
  transform: rotate(180deg);
}
.feedback__decoration-right {
  right: 50px;
}
