<div class="commentaries">
    <h2>Комментарии</h2>
    <div class="commentaries-slider" id="carousel">
    <div class="commentary-wrap">
      <div class="commentary card shadow">
        <img src="assets/img/commentary-1.jpg" alt="">
      </div> 
    </div>
      
    <div class="commentary-wrap">
      <div class="commentary card shadow">
        <h3>Марафон 05.05-16.05
        </h3>
        <p>Очень редко встречается тот продукт или услуга, которая несёт в себе столько ценности и на 100000% оправдывает свою цену!</p>

        <p>За время марафона я заметила качественные изменения в теле, благодаря силовым тренировкам и растяжке оффлайн!</p>

        <p>Живые встречи и знакомства с такими же заряженными людьми дают стимул не сдаваться! Это прям очень важно!!!! Спасибо вам за это ♥</p>
        ️
        <p>А так же внимательность и чуткость со стороны кураторов и организаторов в общем чате, ничего не оставляют без внимания 💕</p>
        <p>MiRos вы супер крутые❗️Развития Вам, покорения новых вершин❗</p>
        <p>Ждите меня на следующем марафоне 😉</p>
      </div>
    </div>
    <div class="commentary-wrap">
      <div class="commentary card shadow">
        <h3>Марафон 05.05-16.05
        </h3>
        <p>Очень редко встречается тот продукт или услуга, которая несёт в себе столько ценности и на 100000% оправдывает свою цену!</p>

        <p>За время марафона я заметила качественные изменения в теле, благодаря силовым тренировкам и растяжке оффлайн!</p>

        <p>Живые встречи и знакомства с такими же заряженными людьми дают стимул не сдаваться! Это прям очень важно!!!! Спасибо вам за это ♥</p>
        ️
        <p>А так же внимательность и чуткость со стороны кураторов и организаторов в общем чате, ничего не оставляют без внимания 💕</p>
        <p>MiRos вы супер крутые❗️Развития Вам, покорения новых вершин❗</p>
        <p>Ждите меня на следующем марафоне 😉</p>
      </div>
    </div>
    </div>
      <div class="round-buttons leaf-buttons">
        <button class="leaf-button leaf-button__arrow-left shadow" onclick="changeCommentary(-1)">
          <img src="assets/img/Arrow%20button.png" alt="">
        </button>
        <button class="leaf-button leaf-button__arrow-right shadow-inverse" onclick="changeCommentary(1)">
          <img src="assets/img/Arrow%20button.png" alt="">
        </button>
      
  </div>
  <img src="assets/img/FEEDBACK.png" alt="" class="feedback__decoration feedback__decoration-left">
      <img src="assets/img/FEEDBACK.png" alt="" class="feedback__decoration feedback__decoration-right"> 
  </div>
  <!--  /commentary-->