<section class="overlay" id="overlay">
  <div class="overlay__background" (click)="closePopup()"></div>

  <article class="overlay__content">
    <figure class="content__figure"><img src="assets/img/Overlay.png" alt="Тренировка"></figure>
    
    <div class="content__wrapper">
      <form class="wrapper__form" (submit)="sendCallBack()" #form>
        <div class="content__header">
          <markdown [data]="content?.header"></markdown>
        </div>
        <label>{{ content?.name }}
          <input 
            type="text"
            placeholder="Имя"
            required
            minlength="2"
            [(ngModel)]="name"
            name="name"
          >
        </label>
        <label>{{ content?.phone }}
          <input 
            type="phone"
            placeholder="+7 900 111 22 33"
            [(ngModel)]="phone"
            name="phone"
          >
        </label>
        <label>{{ content?.mail }}
          <input 
            type="email"
            placeholder="Email"
            [(ngModel)]="email"
            name="email"
            required
          >
        </label>
        <input type="submit" [disabled]="form.$invalid" class="btn" [value]="content?.button">
      </form>
    </div>
    <div class="overlay__button-close" (click)="closePopup()">✖</div>
  </article>

</section>