<section class="overlay" id="overlay">
    <div class="overlay__background" onclick="closeOverlay()"></div>

  <article class="overlay__content">
    <figure class="content__figure"><img src="assets/img/Overlay.png" alt="Тренировка"></figure>
    <div class="content__wrapper">
      <form class="wrapper__form">
        <p class="form__text">оставьте свои</p>
        <h2 class="form__header">КОНТАКТНЫЕ ДАННЫЕ</h2>
        <p class="form__text">и мы с вами свяжемся</p>
        <label>Имя</label>
        <label>Телефон <span>(необязательно)</span></label>
        <label>Email</label>
        <input type="submit" class="btn" value="Отправить">
      </form>
    </div>
    <div class="overlay__button-close" onclick="closeOverlay()">X</div>
  </article>

</section>