<footer class="footer">
  <div class="footer__social-media">
    <h3 class="footer__header">Наши соцсети</h3>
    <ul class="social-media__list">
      <li class="social-media__item social-media__item-telegram"><a href="#">Telegram</a></li>
      <li class="social-media__item social-media__item-instagram"><a href="#">Instagram</a></li>
      <li class="social-media__item social-media__item-bot"><a href="#">Telegram bot</a></li>
    </ul>
  </div>

  <div class="footer__main-block">
    <nav class="footer__menu">
      <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/marathons">Марафоны</a></li>
        <li><a href="/blog">Блог</a></li>
        <li><a href="/actions">Акции</a></li>
        <li><a href="/about">О нас</a></li>
      </ul>
    </nav>

    <div class="footer__logo">
      <img src="assets/img/Brand.png" alt="">
    </div>
  </div>

  <div class="footer__contacts">
    <h3 class="footer__header">Контакты</h3>
    <ul class="contacts__list">
      <li class="contacts__item">+7 (900) 645 11 65</li>
      <li class="contacts__item">miros.platform@gmail.com</li>
    </ul>
  </div>
</footer>