.footer {
  background-color: var(--primary-black);
  height: 280px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  &-wrap {
    max-width: 1200px;
    display: grid;
    margin: auto;
    grid-template-columns: [col] 1fr [col] 3fr [col] 1fr;
  }

  &__header {
    color: ghostwhite;
    font-family: var(--header);
    margin-bottom: 36px;
  }

  &__social-media {
    & .footer__header {
      text-align: left;
    }
  }

  &__logo {
    width: 80%;
    margin: auto;

    img {
      width: 100%;
    }
  }

  &__menu {

    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      border-bottom: 1px solid ghostwhite;
      margin-bottom: 44px;
  
      li a {
        margin-right: 10px;
        font-family: var(--header);
        font-weight: 500;
        font-size: 20px;
        line-height: 37px;
        text-align: justify;
        color: ghostwhite;
        text-decoration: none;
        transition: 0.3s ease-in-out;
        
        &:hover {
          color: var(--primary-green);
        }
      }
    }
   
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    padding: 0 10px;

    .footer__header {
      text-align: right;
    }
  }
}
.social-media {
  &__item {
    position: relative;
    height: 36px;
    margin-bottom: 15px;
    transition: 0.2s;

    &:hover {
      opacity: 0.6;
    }

    a {
      position: absolute;
      top: 30%;
      color: var(--primary-green);
      font-family: Montserrat, sans-serif;
    }

    &-bot {
      list-style-image: url("../../../assets/img/Bot icon.png");
    }
    &-telegram {
      list-style-image: url("../../../assets/img/Tg\ icon.png");
    }
    &-instagram {
      list-style-image: url("../../../assets/img/Inst\ icon.png");
    }
    &::marker {
      width: 30px;
      height: 30px;
    }
  }
}
.contacts__item {
  text-align: right;
}
.contacts__item {
  color: var(--primary-green);
  font-family: Montserrat, sans-serif;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: lighter;
}
