.footer {
  background-color: var(--primary-black);
  height: 280px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  &-wrap {
    max-width: 1200px;
    display: grid;
    margin: auto;
    grid-template-columns: [col] 1fr [col] 3fr [col] 1fr;
  }

  &__header {
    color: ghostwhite;
    font-family: var(--header);
    margin-bottom: 36px;
  }

  &__social-media {
    & .footer__header {
      text-align: left;
    }
  }

  &__main-block {
    @media (max-width: 1024px) {
      grid-area: menu;
    }
  }

  &__logo {
    width: 80%;
    max-width: 600px;
    margin: auto;

    img {
      width: 100%;
    }

    @media (max-width: 1024px) {
      display: none;
    }

    &_mobile {
      display: none;
      grid-area: logo;
      
      @media (max-width: 1024px) {
        display: block;  
      }
    }
  }

  &__menu {

    ul {
      display: flex;
      justify-content: center;
      
      list-style: none;
      border-bottom: 1px solid ghostwhite;
      margin-bottom: 44px;
  
      li a {
        margin: 0 10px 0;
        font-family: var(--header);
        font-weight: 500;
        font-size: 20px;
        line-height: 37px;
        text-align: justify;
        color: ghostwhite;
        text-decoration: none;
        transition: 0.3s ease-in-out;
        
        &:hover {
          color: var(--primary-green);
        }
      }

      @media (max-width: 520px) {
        flex-direction: column;
        list-style: disc;
        color: ghostwhite;
        border-bottom: 1px solid #444
      }
    }
   
  }

  @media screen and (max-width: 1024px) {
    height: fit-content;
    display: grid;
    grid-template-areas: 
    "menu menu"
    "social contacts"
    ". ."
    "logo logo";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 1fr 60px 1fr;
  }

  @media screen and (max-width: 520px) {

    grid-template-areas: 
    "menu"
    "social"
    "contacts"
    "logo";
    grid-template-columns: 1fr;
    height: fit-content;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1.1fr 1.5fr 1fr 1fr;
  }
}
.social-media {
  grid-area: social;

  &__item {
    position: relative;
    height: 36px;
    margin-bottom: 15px;
    transition: 0.2s;

    &:hover {
      opacity: 0.6;
    }

    a {
      position: absolute;
      top: 30%;
      color: var(--primary-green);
      font-family: Montserrat, sans-serif;
    }

    &-bot {
      list-style-image: url("../../../assets/img/Bot icon.png");
    }
    &-telegram {
      list-style-image: url("../../../assets/img/Tg\ icon.png");
    }
    &-instagram {
      list-style-image: url("../../../assets/img/Inst\ icon.png");
    }
    &::marker {
      width: 30px;
      height: 30px;
    }
  }
}
.contacts {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  text-align: right;

  .footer__header {
    text-align: inherit;
  }

  &__list {
    list-style: none;

    @media (max-width: 520px) {
      padding-left: 0px;
    }
  }

  &__item {
    color: var(--primary-green);
    font-family: Montserrat, sans-serif;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: lighter;
  }

  @media screen and (max-width: 1024) {
    grid-area: contacts;
  }

  @media (max-width: 520px) {
    text-align: left;
  }
}
