<footer class="footer">
  <div class="footer__social-media">
    <h3 class="footer__header">{{ content.footer?.socialMediaHeader }}</h3>
    <ul class="social-media__list">
      <li class="social-media__item social-media__item-telegram"><a href="https://t.me/mirosplatform">Telegram</a></li>
      <li class="social-media__item social-media__item-instagram"><a href="https://www.instagram.com/miros.platform/">Instagram</a></li>
      <li class="social-media__item social-media__item-bot"><a href="https://t.me/MiRosPlatformBot">Telegram bot</a></li>
    </ul>
  </div>

  <div class="footer__main-block">
    <nav class="footer__menu">
      <ul>
        <li><a href="/">{{ content.footer?.menu?.main }}</a></li>
        <li><a href="/marathons">{{ content.footer?.menu?.marathons }}</a></li>
        <li><a href="/blog">{{ content.footer?.menu?.blog }}</a></li>
        <li><a href="/about">{{ content.footer?.menu?.about }}</a></li>
      </ul>
    </nav>

    <div class="footer__logo">
      <img src="assets/img/Brand.png" alt="MIROS">
    </div>
  </div>

  <div class="footer__contacts contacts">
    <h3 class="footer__header">{{ content.footer?.contactsBlockHeader }}</h3>
    <ul class="contacts__list">
      <li class="contacts__item">{{ content.footer?.contactsBlockPhone }}</li>
      <li class="contacts__item">{{ content.footer?.contactsBlockEmail }}</li>
    </ul>
  </div>

  <div class="footer__logo footer__logo_mobile">
    <img src="assets/img/Brand.png" alt="MIROS">
  </div>
</footer>