<app-header></app-header>

<div class="spacer"></div>
<form class="card">
  <h1>АВТОРИЗАЦИЯ</h1>
  <p>Неверный логин или пароль</p>
  <label>Логин</label>
  <label>Пароль</label>
  <a class="form__link" href="/account/password_reset">Забыли пароль?</a>
  <input class="form__button btn" type="submit" value="ВОЙТИ" />
  <input type="hidden" name="next" value="/account/profile" />

  <hr class="form__delimiter" />
  <p class="form__text">Еще не зарегистрированы?</p>
  <a href="/account/register"
    ><input type="button" class="btn btn-large" value="зарегистрироваться"
  /></a>
</form>
