.header {
  position: fixed;
  width: calc(100% - 30px);
  background-color: ghostwhite;
  display: flex;
  align-items: center;
  height: 70px;
  top: 0;
  z-index: 11000;
  border-radius: 0 0 12px 12px;
  justify-content: space-between;
  padding: 0px 15px;
  box-shadow: -4px 1px 21px rgba(0, 0, 0, 0.25);
  transition: 0.2s ease-in-out;

  &__logo {
    justify-self: start;
    width: 80px;
    height: 40px;
    
    img {
      height: 100%;
      width: 100%;
    }
  }

  &-hidden {
    top: -100px;
  }

  &__language {
    &-select {
      padding: 10px 15px;
      border-radius: 30px;
      outline: none;
      background-color: #EEE;
      font-size: 1.0em;
      font-weight: 600;
    }   
  }

  @media (max-width: 768px) {
    display: none
  }

  &_mobile {
    display: none;
    height: 40px;
    padding: 15px 15px;
    transition: 0.3s ease-in-out;

    @media (max-width: 768px) {
      display: block;
    }
  }

  &_expanded {
    height: 100vh;

    .menu {
      &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: column;
      }

      &__list-item {
        font-size: 36px;
        line-height: 80px;
        text-align: center;
      }
    }
  }
}

.menu {
  justify-self: flex-end;

  &__list {
    display: flex;
    list-style: none;
  }

  &__list-item {
    margin-right: 15px;
    font-family: var(--header);
    font-weight: 500;
    font-size: 20px;
    line-height: 37px;
    text-align: justify;
    color: var(--primary-black);
    transition: 0.1s ease-out;
    text-decoration: none;
    color: inherit;
    
    &_active {
      color: grey
    }

    &:hover {
      color: rgba(28, 28, 28, 0.6);
    }
  }
}

.menu-button {
  width: 32px;
  cursor: pointer;
}

.mobile-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}