.header {
  position: fixed;
  width: 100%;
  background-color: ghostwhite;
  display: flex;
  align-items: center;
  height: 70px;
  top: 0;
  z-index: 2000;
  justify-content: space-between;
  padding: 0px 15px;
  box-shadow: -4px 1px 21px rgba(0, 0, 0, 0.25);
  transition: 0.2s ease-in-out;
  &-hidden {
    top: -100px;
  }

  &__language {
    &-select {
      padding: 10px 15px;
      border-radius: 30px;
      outline: none;
      background-color: #EEE;
      font-size: 1.0em;
      margin-right: 30px;
      font-weight: 600;
    }
     
  }
}
.header__logo {
  justify-self: start;
  width: 80px;
  height: 40px;
}
.header__logo img {
  height: 100%;
  width: 100%;
}
.header__menu {
  justify-self: flex-end;
}
.header__menu ul {
  display: flex;
  list-style: none;
}
.header__menu ul li a {
  margin-right: 15px;
  font-family: var(--header);
  font-weight: 500;
  font-size: 20px;
  line-height: 37px;
  text-align: justify;
  color: var(--primary-black);
  transition: 0.1s ease-out;
  text-decoration: none;
}
.header__menu ul li a:hover {
  color: rgba(28, 28, 28, 0.6);
}
