<header class="header card" [class.header-hidden]="isHidden">
  <div class="header__logo">
    <a routerLink="/"><img src="assets/img/MR%20black.png" alt="" /></a>
  </div>
  <nav class="header__menu">
    <ul>
      <li><a routerLink="/">Главная</a></li>
      <li><a routerLink="/marathons">Марафоны</a></li>
      <li><a routerLink="/blog">Блог</a></li>
      <li><a routerLink="/about">О нас</a></li>
    </ul>
  </nav>

  <div class="header__language">
    <select (change)="changeLanguage(language.value)" [value]="lang" name="language" value="EN" #language>
      <option value="en">EN</option>
      <option value="fr">FR</option>
      <option value="ru-Ru">RU</option>
    </select>
  </div>
</header>
