<section>
  <div class="hero">
    <div class="hero__text-block">
      <h1 class="hero__header">ФИТНЕС-МАРАФОНЫ</h1>
      <p class="hero__text">Интенсивные тренировки в течение 12 дней с полезной информацией от проффесионалов в различных областях спорта, здоровья и питания</p>
      <a class="hero__link">Узнать больше</a>
    </div>
    <img src="assets/img/Marathons%20hero.png" alt="">
  </div>

  <main class="main">
    <figure><img src="assets/img/Marathons%20info.png" alt=""></figure>
    <div class="main__text-block">

        <div class="text-block__block">
        <h2>Когда?</h2>
        <h3 class="text-block__text-gray">следите за обновлениями в наших соцсетях</h3>

            <div class="text-block__social-media-block">
            <div class="social-media">
              <img src="assets/img/Inst icon black.png" alt="">
              <a class="about-link" href="https://www.instagram.com/miros.platform/">Inastagram</a>
            </div>
            <div class="social-media">
              <img src="assets/img/Tg icon black.png" alt="">
              <a class="about-link" href="https://t.me/mirosplatform">Telegram</a>
            </div>
          </div>

      </div>

      <div class="text-block__block">
        <h2>Программа марафона</h2>
        <ul>
          <li>Силовые тренировки</li>
          <li>Растяжки</li>
          <li>Онлайн и офлайн тренировки</li>
          <li>Треккер вашего прогресса</li>
          <li>Комментарии и советы от нашей команды</li>
          <li>Новая полезная информация</li>
          <li>Множество интерактивов и приятного общения :)</li>
        </ul>
      </div>

      <button class="btn" onclick="openOverlay()">Записаться</button>
    </div>
  </main>

  <div class="reasons">
    <div class="reasons__text-block">
      <h2 class="reasons__header">Почему MIROS?</h2>
      <div class="text-block__reasons">
        <img src="assets/img/Marathons%20numbers.png" alt="">
        <div class="text-block__text">
          <p>Мирос устраивает марафоны с небольшим количеством участников - это значит, что отношения в коллективе будет максимально крепкие, мотивация сильной, а поддержка коллектива мирос - персонализированной </p>
          <p>Мирос организовывает качественные тренировки и консультации - большинство воркаутов и встреч проходит в оффлайн-режиме, у каждого участника есть возможность получить личную консультацию и поддержку приглашённых специалистов </p>
          <p>Мирос заботится о ваших личных целях - в начале марафона проходит встреча, направленная на постановку целей на марафон. Организаторы будут поддерживать работу каждого участника над его индивидуальными целями</p>
        </div>
      </div>
    </div>

    <figure><img src="assets/img/Marathon%20reasons.png" alt=""></figure>

  </div>
  <!--  /reasons-->

  <div class="stats">
    <h3 class="stats__who">кто мы?</h3>
    <h2 class="stats__header">MIROS - это перспективный быстро растущий проект с активным коммьюнити и большими планами на будущее.</h2>
    <div class="stats__numbers-wrap">
      <div class="numbers-wrap__wrap">
        <h3 class="stats__number">12</h3>
        <h4>событий</h4>
        <p>уже проведено нами под эгидой MIROS</p>
      </div>
      <div class="numbers-wrap__wrap">
        <h3 class="stats__number">1000+</h3>
        <h4>человек</h4>
        <p>насчитывает наше коммьюнити</p>
      </div>
      <div class="numbers-wrap__wrap">
        <h3 class="stats__number">2</h3>
        <h4>года</h4>
        <p>опыта и мы не собираемся останавливаться</p>
      </div>
    </div>
  </div>

  <div class="feedback">
    <div class="feedback__text-block">
      <h2>Отзывы</h2>
      <p>Наши участники часто делятся эмоциями от марафонов и тренировок MiRos </p>
      <p>Послушайте впечатления от тех, кто стал частью нашей команды!</p>
      <img src="assets/img/Logo%20MR%20small%20white.png" alt="" class="logo">
    </div>


    <div class="video-slider">
      <div class="video-slider__phone">
        <img src="assets/img/Phone.png" alt="">
      </div>
      <div class="video-slider__wrap">
        <div class="video-slider__carousel" id="slider">
          <div class="video-slider__image-wrap">
            <video controls preload="auto" src="assets/video/IMG_7462.MOV" alt="">
          </div>
          <div class="video-slider__image-wrap">
            <video controls preload="auto" src="assets/video/IMG_8982.MOV" alt="">
          </div>
          <div class="video-slider__image-wrap">
            <video controls preload="auto" src="assets/video/video_2021-09-09_19-22-36.mp4" alt="">
          </div>
        </div>
      </div>


      <div class="video-slider__leaf-buttons">
        <div class="leaf-button leaf-button__arrow-left shadow" onclick="plusSlide(-1)">
          <img src="assets/img/Arrow%20button.png" alt="">
        </div>
        <div class="leaf-button shadow-inverse leaf-button__arrow-right" onclick="plusSlide(1)">
          <img src="assets/img/Arrow%20button.png" alt="">
        </div>
      </div>

      <div class="video-slider__dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>
  <!--  /feedback-->

  <div class="commentaries">
    <h2>Комментарии</h2>
    <div class="commentaries-slider" id="carousel">
    <div class="commentary-wrap">
      <div class="commentary card shadow">
        <img src="assets/img/commentary-1.jpg" alt="">
      </div> 
    </div>
      
    <div class="commentary-wrap">
      <div class="commentary card shadow">
        <h3>Марафон 05.05-16.05
        </h3>
        <p>Очень редко встречается тот продукт или услуга, которая несёт в себе столько ценности и на 100000% оправдывает свою цену!</p>

        <p>За время марафона я заметила качественные изменения в теле, благодаря силовым тренировкам и растяжке оффлайн!</p>

        <p>Живые встречи и знакомства с такими же заряженными людьми дают стимул не сдаваться! Это прям очень важно!!!! Спасибо вам за это ♥</p>
        ️
        <p>А так же внимательность и чуткость со стороны кураторов и организаторов в общем чате, ничего не оставляют без внимания 💕</p>
        <p>MiRos вы супер крутые❗️Развития Вам, покорения новых вершин❗</p>
        <p>Ждите меня на следующем марафоне 😉</p>
      </div>
    </div>
    <div class="commentary-wrap">
      <div class="commentary card shadow">
        <h3>Марафон 05.05-16.05
        </h3>
        <p>Очень редко встречается тот продукт или услуга, которая несёт в себе столько ценности и на 100000% оправдывает свою цену!</p>

        <p>За время марафона я заметила качественные изменения в теле, благодаря силовым тренировкам и растяжке оффлайн!</p>

        <p>Живые встречи и знакомства с такими же заряженными людьми дают стимул не сдаваться! Это прям очень важно!!!! Спасибо вам за это ♥</p>
        ️
        <p>А так же внимательность и чуткость со стороны кураторов и организаторов в общем чате, ничего не оставляют без внимания 💕</p>
        <p>MiRos вы супер крутые❗️Развития Вам, покорения новых вершин❗</p>
        <p>Ждите меня на следующем марафоне 😉</p>
      </div>
    </div>
    </div>
      <div class="round-buttons leaf-buttons">
        <button class="leaf-button leaf-button__arrow-left shadow" onclick="changeCommentary(-1)">
          <img src="assets/img/Arrow%20button.png" alt="">
        </button>
        <button class="leaf-button leaf-button__arrow-right shadow-inverse" onclick="changeCommentary(1)">
          <img src="assets/img/Arrow%20button.png" alt="">
        </button>
      
  </div>
  <img src="assets/img/FEEDBACK.png" alt="" class="feedback__decoration feedback__decoration-left">
      <img src="assets/img/FEEDBACK.png" alt="" class="feedback__decoration feedback__decoration-right"> 
  </div>
  <!--  /commentary-->

  <div class="action-intent">
    <h3>Измени свою жинзь к лучшему!</h3>
    <h2>Запишись на марафон</h2>
    <button class="btn" onclick="openOverlay()">
      Записаться
    </button>

    <h3 class="action-intent__decoration action-intent__decoration-left">MARATHON</h3>
    <h3 class="action-intent__decoration action-intent__decoration-right">MARATHON</h3>
  </div>
</section>

<section class="overlay" id="overlay">
    <div class="overlay__background" onclick="closeOverlay()"></div>

  <article class="overlay__content">
    <figure class="content__figure"><img src="assets/img/Overlay.png" alt="Тренировка"></figure>
    <div class="content__wrapper">
      <form class="wrapper__form">
        <p class="form__text">оставьте свои</p>
        <h2 class="form__header">КОНТАКТНЫЕ ДАННЫЕ</h2>
        <p class="form__text">и мы с вами свяжемся</p>
        <label>Имя</label>
        <label>Телефон <span>(необязательно)</span></label>
        <label>Email</label>
        <input type="submit" class="btn" value="Отправить">
      </form>
    </div>
    <div class="overlay__button-close" onclick="closeOverlay()">X</div>
  </article>

</section>