.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: -5px;

  &__text-block {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  img {
    width: 100%;
    object-fit: contain;
  }
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-out;
  
  &:hover {
    opacity: 0.5;
  }

  a {
    padding: 0 10px;
    color: #282828;
  }
}


/*REASONS*/
.reasons {
  display: flex;
  // margin-bottom: -5px;
    
  img {
    width: 50%;
    // object-fit: contain;
  }

  &__text-gray {
    color: rgba(40, 40, 40, 0.6);
  }

  &__header {
    text-align: center;
    margin-bottom: 15px;
  }

  &__text-block {
    padding: 40px 15px 0px 30px;
    width: calc(50% - 45px);
    font-family: Raleway, sans-serif;
  }

  &__text-block {
    p {
      color: rgba(28, 28, 28, 0.8);

      &:not(:last-child) {
        margin-bottom: 175px;
      }
    }
  }
}


.text-block {

  &__block {
    margin-bottom: 60px;
    padding: 0 40px;
  }

  &__text {
    padding-top: 35px;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__social-media-block {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
  }

  &__block h2 {
    margin-bottom: 10px;
  }
  
  &__block ul {
    list-style: disc;
    font-family: "Montserrat", sans-serif;
  }
  
  &__block p {
    font-family: "Montserrat", sans-serif;
  }
  
  &__button {
    width: 140px;
    height: 60px;
    margin: auto;
    border: none;
    font-size: 18px;
    font-weight: 500;
    background: #b4ffbb;
    box-shadow: -3px 5px 0px #6e9e73;
    border-radius: 8px;
  }

  &__reasons {
    display: flex;

    img {
      object-fit: contain;
      width: 20%;
      max-width: 130px;
    }
  }

  figure  {
    width: 50%;
    img {
      width: 100%;
    }
  }

  &__list {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    list-style: none;
    padding-left: 72px;
    max-width: 600px;
    margin: auto;
  }

  &__li {
    display: flex;
    align-items: center;
    position: relative;
    border-left: 1px solid var(--primary-black);
    padding-left: 10px;
    margin-bottom: 40px;

    // &:last-of-type {
    //   margin-bottom: 0;
    // }

    &:before {
      position: absolute;
      top: 50%;
      left: -76px;
      transform: translateY(-50%);

      content: '';
      display: block;
      height: 64px;
      width: 64px;
      background: url("../../../assets/img/li-1.png") no-repeat center;
      background-size: 100%;
    }

    &:first-child {
      &:before {
        background-image: url("../../../assets/img/li-1.png");
      }
    }
    &:nth-child(2) {
      &:before {
        background-image: url("../../../assets/img/li-2.png");
      }
    }
    &:nth-child(3) {
      &:before {
        background-image: url("../../../assets/img/li-3.png");
      }
    }
  }
}


.stats {
  padding: 100px 0;
  background-color: #282828;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__who {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    color: #949494;
  }

  &__header {
    font-weight: 600;
    font-size: 26px;
    width: 1000px;
    margin: auto;
    line-height: 44px;
    text-align: center;
    color: #f8f8ff;
    margin-bottom: 15px;
  }

  &__numbers-wrap {
    padding-top: 30px;
    display: flex;
    max-width: 600px;
  }
}

.numbers-wrap{
  &__wrap {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;

    h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 46px;
      line-height: 60px;
      color: #b4ffbb;
    }

    h4 {
      font-weight: 600;
      font-size: 32px;
      line-height: 59px;
      color: #949494;
    }

    p {
      font-family: var(--header);
      font-weight: normal;
      font-size: 18px;
      line-height: 29px;
      color: #949494;
    }
  }
}


.action-intent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 100px 0;

  h3 {
    font-weight: 400;
  }

  h2 {
    margin-bottom: 20px;
  }

  &__decoration {
    font-family: "Space Mono", monospace;
    font-style: italic;
    position: absolute;
    font-weight: bold;
    font-size: 46px;
    line-height: 107px;
    color: #c4c4c4;

    &-left {
      transform: rotate(-90deg);
      left: -60px;
    }

    &-right {
      transform: rotate(90deg);
      right: -60px;
    }
  }
}
