<section>
  <app-hero-marathons [content]="content"></app-hero-marathons>

  <main class="main" id="info">
    <!-- <figure> -->
      <img src="assets/img/Marathons%20info.png" alt="">
    <!-- </figure> -->
    <div class="main__text-block">

        <div class="text-block__block">
        <h2>{{ content?.firstBlockHeader }}</h2>
        <h3 class="text-block__text-gray">{{ content?.firstBlockSubtitle }}</h3>

            <div class="text-block__social-media-block">
            <div class="social-media">
              <img src="assets/img/Inst icon black.png" alt="">
              <a class="about-link" href="https://www.instagram.com/miros.platform/">Instagram</a>
            </div>
            <div class="social-media">
              <img src="assets/img/Tg icon black.png" alt="">
              <a class="about-link" href="https://t.me/mirosplatform">Telegram</a>
            </div>
          </div>

      </div>

      <div class="text-block__block">
        <h2>{{ content?.firstBlockProgramHeader }}</h2>
        <markdown [data]="content?.firstBlockProgramList"></markdown>
      </div>

      <button class="btn" (click)="toggleModal()">{{ content?.firstBlockButtonText }}</button>
    </div>
  </main>

  <div class="reasons">
    <div class="reasons__text-block">
      <h2 class="reasons__header">{{ content?.reasonsBLockHeader }}</h2>
      <div class="text-block__reasons">
        <ul class="text-block__list">
          <li class="text-block__li">{{ content?.reasonsBlockFirst }}</li>
          <li class="text-block__li">{{ content?.reasonsBlockSecond }}</li>
          <li class="text-block__li">{{ content?.reasonsBlockThird }}</li>
        </ul>
      </div>
    </div>

    <!-- <figure> -->
      <img src="assets/img/Marathon%20reasons.png" alt="">
    <!-- </figure> -->

  </div>
  <!--  /reasons-->

  <div class="stats">
    <h3 class="stats__who">{{ content?.whoBlockSubtitle }}</h3>
    <h2 class="stats__header">{{ content?.whoBlockTitle }}</h2>
    <div class="stats__numbers-wrap">
      <div class="numbers-wrap__wrap" *ngFor="let stat of content?.stats">
        <h3 class="stats__number">{{ stat?.number }}</h3>
        <h4>{{ stat?.title }}</h4>
        <p>{{ stat?.text }}</p>
      </div>
    </div>
  </div>

  <app-feedback *ngIf="content" [content]="content.review"></app-feedback>

  <app-commentaries *ngIf="content" [content]="content.commentaries" [header]="content.commentariesBlockHeader"></app-commentaries>

  <div class="action-intent">
    <h3>{{ content?.motivationBlockSubtitle }}</h3>
    <h2>{{ content?.motivationBlockTitle }}</h2>
    <button class="btn" (click)="toggleModal()">
      {{ content?.motivationBlockButtonText }}
    </button>

    <h3 class="action-intent__decoration action-intent__decoration-left">MARATHON</h3>
    <h3 class="action-intent__decoration action-intent__decoration-right">MARATHON</h3>
  </div>
</section>

<app-callback *ngIf="isPopupVisible" [content]="content.callbackPopup[0]" (closeModal)="toggleModal()"></app-callback>