<div class="hero">
  <div class="hero__logo">
    <img src="assets/img/Main%20logo.png" alt="" />
  </div>
  <div class="hero__authorization">
    <a class="authorization__button" href="/account/login">ВХОД</a>
    <a
      class="authorization__button authorization__button-bordered"
      href="/account/register"
      >РЕГИСТРАЦИЯ</a
    >
  </div>
  <div class="hero__block">
    <h1 class="hero__block-header">Реалистичный подход к спорту</h1>
    <div class="hero__block-wrap">
      <h2 class="block-wrap__text">
        Узнай, когда будет следующий марафон уже сейчас
      </h2>
      <a href="/marathons"
        ><button class="btn btn-light-shadow">Перейти</button></a
      >
      <img class="hero__arrow" src="assets/img/Main%20arrow.png" alt="" />
    </div>
  </div>
  <img class="hero__background" src="assets/img/Main%20hero.png" alt="" />
</div>
<!-- ./hero -->
