<div class="hero">
  <div class="hero__block">
    <h1 class="hero__block-header">{{ content?.welcome }}</h1>
    <div class="hero__block-wrap">
      <h2 class="block-wrap__text">
        {{ content?.welcomeSubtitle }}
      </h2>
      <a href="/marathons"
        ><button class="btn btn-light-shadow">{{ content?.welcomeButton }}</button></a
      >
      <img class="hero__arrow" src="assets/img/Main%20arrow.png" alt="" />
    </div>
  </div>
  <img class="hero__background" [src]="content?.welcomeImage?.url" alt="" />
</div>
<!-- ./hero -->
