.second-section {
  background-color: #282828;
}

.transition {
  padding-bottom: 100px;

  img {
    padding-top: 100px;
    width: 100%;
    padding-bottom: 50px;
  }
}

/* ABOUT */
.about-block {
  max-width: 1000px;
  margin: auto;
  
  h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: ghostwhite;
  }

  &__wrapper {
    display: flex;

    figure {
      width: 50%;
      max-width: 600px;
      transition: 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }

      img {
        width: 100%;
      }

      @media (max-width: 916px) {
        text-align: center;
      }

      @media (max-width: 512px) {
        width: 100%;
        padding: 10px 20px;
        box-sizing: border-box;
      }
    }

    @media (max-width: 916px) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.wrapper {
  &__text-block {
    width: 50%;
    padding: 30px 30px;
    color: ghostwhite;

    h3 {
      text-align: left;
      margin-bottom: 20px;
      color: ghostwhite;
    }

    p {
      margin-bottom: 20px;
    }

    .additional-text {
      color: #cccccc;
      font-weight: lighter;
    }
  }
  
}
.text-block {
  &__social-media-block {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;

    .social-media {
      font-family: Raleway, sans-serif;
    }
  }
 
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-out;
  &:hover {
    opacity: 0.5;
  }
  a {
    padding: 0 10px;
    color: #b4ffbb;
  }
} 

/*BOT*/
.bot-block {
  &__wrapper {
    display: flex;
    margin: auto;
    width: 100%;
    padding-top: 10%;

    figure {
      width: 50%;
      padding: 30px;
      text-align: end;
      transition: 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }

      img {
        width: 100%;
      }
    
      @media (max-width: 916px) {
        width: 50%;
        text-align: center;

        &:hover {
          transform: unset;
        }
      }

      @media (max-width: 512px) {
        width: 100%;
        padding: 10px 20px;
        box-sizing: border-box;
      }
    }

    @media (max-width: 916px) {
      width: 100%;
      flex-direction: column-reverse;
      align-items: center;
    }
  }
}

.wrapper {
  &__text-block {
    width: 50%;
    padding-top: 10%;

    figure {
      margin: auto;
      width: 80%;
    }

    p {
      font-family: Raleway, sans-serif;
    }

    @media (max-width: 916px) {
      width: 80%;
      padding-top: 0;
    }

    @media (max-width: 512px) {
      width: 100%;
      padding: 10px 20px;
      box-sizing: border-box;
    }
  }

  .link {
    text-align: center;
  }
}

.bot-link {
  a {
    color: #b4ffbb;
    font-family: Montserrat, sans-serif;
    transition: 0.2s ease-out;

    &:hover {
      opacity: 0.5;
    }
  } 
}
