.second-section {
  background-color: #282828;
}
.transition {
  padding-bottom: 100px;
}
.transition img {
  padding-top: 100px;
  width: 100%;
  padding-bottom: 50px;
}

/* ABOUT */
.about-block {
  max-width: 1000px;
  margin: auto;
  
  h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: ghostwhite;
  }

  &__wrapper {
    display: flex;
    figure {
      width: 50%;
      max-width: 600px;
      transition: 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }

      img {
        width: 100%;
      }
    }
  }
}

.wrapper {
  &__text-block {
    width: 50%;
    padding: 30px 30px;
    color: ghostwhite;

    h3 {
      text-align: left;
      margin-bottom: 20px;
      color: ghostwhite;
    }

    p {
      margin-bottom: 20px;
    }

    .additional-text {
      color: #cccccc;
      font-weight: lighter;
    }
  }
  
}
.text-block {
  &__social-media-block {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;

    .social-media {
      font-family: Raleway, sans-serif;
    }
  }
 
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-out;
  &:hover {
    opacity: 0.5;
  }
  a {
    padding: 0 10px;
    color: #b4ffbb;
  }
} 

/*BOT*/
.bot-block__wrapper {
  display: flex;
  margin: auto;
}
.bot-block__wrapper figure {
  width: 50%;
  padding: 30px;
  text-align: end;
  transition: 0.3s ease-in-out;
}
.bot-block__wrapper figure:hover {
  transform: scale(1.1);
}
.bot-block__wrapper figure img {
  width: 80%;
}
.bot-block__wrapper .wrapper__text-block {
  width: 50%;
  padding-top: 10%;
}
.bot-block__wrapper .link {
  text-align: center;
}
.bot-link a {
  color: #b4ffbb;
  font-family: Montserrat, sans-serif;
  transition: 0.2s ease-out;
}
.bot-link a:hover {
  opacity: 0.5;
}
.wrapper__text-block p {
  font-family: Raleway, sans-serif;
}
.wrapper__text-block figure {
  margin: auto;
  width: 80%;
}
