<div class="second-section">

    <div class="transition">
      <img src="assets/img/Transition.png" alt="">
    </div>

    <div class="about-block">
      <h2>О нас</h2>
      <div class="about-block__wrapper">
        <div class="wrapper__text-block">
          <h3>Наша миссия</h3>
          <p>Миссия MIROS - мотивировать людей вести здоровый образ жизни через эстетику спорта и правильного питания </p>
          <p>В наших социальных сетях вы найдете полезную информацию о спорте, питании и здоровом образе жизни, а также объявления о ближайших фитнес-событиях MiRos</p>

          <div class="text-block__social-media-block">
            <div class="social-media">
              <img src="assets/img/Inst%20icon.png" alt="">
              <a class="about-link" href="https://www.instagram.com/miros.platform/">Inastagram</a>
            </div>
            <div class="social-media">
              <img src="assets/img/Tg%20icon.png" alt="">
              <a class="about-link" href="https://t.me/mirosplatform">Telegram</a>
            </div>
          </div>

          <p class="additional-text">Мы выступаем за реалистичный и естественный образ жизни, а также за достоверную информацию в сфере питания и спорта. Наши публикации составлены совместно со специалистами или с использованием научных статей, а также имеют рекомендательный характер</p>
        </div>
        <figure>
          <img src="assets/img/Main%20polaroid%201.png" alt="">
        </figure>
      </div>
      <div class="bot-block__wrapper">
        <figure><img src="assets/img/Bot%20demo.png" alt=""></figure>
        <div class="wrapper__text-block">
          <h3>Telegram бот</h3>
          <p>MiRos Nutrition, задача которого - составить сбалансированный и здоровый рацион через оценку энергетической ценности продукта </p>
          <p>Бот сообщит о еде все, что вам необходимо знать: калорийность, кол-во белков, жиров и углеводов</p>
          <p class="bot-link"><a href="https://t.me/MiRosPlatformBot" class="wrapper__text-block-link">@MiRosPlatformBot</a></p>
        </div>
      </div>
    </div>
    <!-- /about-->

  </div>
  <!--  /second-section -->