<article class="article">
  <div class="article__header-wrap">
    <button routerLink="/blog" class="article__button-back">
      <img class="article__button-back-arrow" src="assets/img/Arrow.png" alt="">
      Назад
    </button>

    <ul class="article__social-media">
      <li class="article__social-media-item">
        <a href="https://www.instagram.com/miros.platform/"><img src="assets/img/Inst icon black.png" alt="" /></a>
      </li>
      <li class="article__social-media-item">
        <a href="https://t.me/mirosplatform"><img src="assets/img/Tg icon black.png" alt="" /></a>
      </li>
      <li class="article__social-media-item">
        <a href=""><img src="" alt="" /></a>
      </li>
    </ul>
  </div>

  <main class="article__content">
    <h1 class="article__title">{{ article?.title }}</h1>
    <div class="article__categories">
        <span class="article__categories-text">Категории: </span>
        <span 
          *ngFor="let category of article?.categories" 
          [style.color]="category.textHexColor" 
          [style.backgroundColor]="category.hexColor" 
          class="article__category"
        >{{ category?.name }}</span>
    </div>
    <markdown class="variable-binding" [data]="article?.content"></markdown>

    <div class="article__footer">
        <span class="article__date">{{ article?.date }}</span>
        <span class="article__author">{{ article?.author }}</span>
    </div>

  </main>
  
</article>
