<app-header></app-header>
<article class="article">
  <div class="article__header-wrap">
    <button class="article__button-back">Назад</button>

    <ul class="article__social-media">
      <li class="article__social-media-item">
        <a href=""><img src="" alt="" /></a>
      </li>
      <li class="article__social-media-item">
        <a href=""><img src="" alt="" /></a>
      </li>
      <li class="article__social-media-item">
        <a href=""><img src="" alt="" /></a>
      </li>
    </ul>
  </div>

  <main class="article__content">
    <h1 class="article__title">{{ article.title }}</h1>
    <div class="article__categories">
        <span *ngFor="let category of article.categories">{{ category.name }}</span>
    </div>
    <markdown class="variable-binding" [data]="markdown"></markdown>
    <p>{{ article.content }}</p>

    <div class="article__footer">
        <span>{{ article.date }}</span>
        <span>{{ article.author }}</span>
    </div>

  </main>
  
</article>
