<section class="blog container">
  <!-- <h1>{{ content.title }}</h1> -->

  <!-- <div class="blog__carousel-wrap carousel-wrap">
    
    <div class="carousel-header">
      <h3>{{ content.lastArticles }}</h3>
      <img src="assets/img/Arrow.png" alt="Articles" />
    </div>

    <carousel
        [height]="600"
        [cellWidth]="345"
        [arrowsTheme]="'light'"
        [arrowsOutside]="false"
        [loop]="true"
        class="blog__carousel carousel"
      >
        <div *ngFor="let article of firstArticles" class="carousel-cell">
          <app-article-card 
            [article]="article">
          </app-article-card>
        </div>
      </carousel>

    <div class="blog__carousel carousel">
      <app-article-card 
        *ngFor="let article of firstArticles" 
        [article]="article">
      </app-article-card>
    </div>
  </div> -->

  <app-repeated-header [header]="content.articles"></app-repeated-header>

  <section class="blog__articles-list container">
    <app-articles-list
      [articles]="articles"
    ></app-articles-list>
  </section>
</section>
