{% extends 'base.html' %}
{% load static %}

{% block title %}
    Главная
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/main/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/styling.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
{% endblock %}

{% block header %}
    <header class="header" id="header">
    <div class="header__logo">
      <a href="/"><img src="{% static 'img/MR%20black.png' %}" alt=""></a>
    </div>
    <nav class="header__menu">
      <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/marathons">Марафоны</a></li>
        <li><a href="/blog">Блог</a></li>
        <li><a href="/actions">Акции</a></li>
        <li><a href="/about">О нас</a></li>
      </ul>
    </nav>

    <div class="empty"></div>
  </header>
{% endblock %}

{% block content %}
    <section>
  <div class="hero">

    <div class="hero__logo">
      <img src="{% static 'img/Main%20logo.png' %}" alt="">
    </div>
    <div class="hero__authorization">
      <a class="authorization__button" href="/account/login">ВХОД</a>
      <a class="authorization__button authorization__button-bordered" href="/account/register">РЕГИСТРАЦИЯ</a>
    </div>
    <div class="hero__block">
      <h1 class="hero__block-header">Реалистичный подход к спорту</h1>
      <div class="hero__block-wrap">
        <h2 class="block-wrap__text">Узнай, когда будет следующий марафон уже сейчас</h2>
        <a href="/marathons"><button class="btn btn-light-shadow">Перейти</button></a>
        <img class="hero__arrow" src="{% static 'img/Main%20arrow.png' %}" alt="">
      </div>
    </div>
    <img class="hero__background" src="{% static 'img/Main%20hero.png' %}" alt="">
  </div>

  <div class="second-section">

{#    <div class="navigation">#}
{#      <h2><span class="miros-name">MIROS PLATFORM</span> - это место для здорового образа жизни </h2>#}
{#      <div class="navigation__blocks">#}
{#          <a href="/about">#}
{#            <div class="navigation__block-wrap">#}
{#          <h3>О НАС</h3>#}
{#          <img src="{% static 'img/Main%20navigation%20about.png' %}" alt="">#}
{#        </div>#}
{#          </a>#}
{#          <a href="/marathons">#}
{#              <div class="navigation__block-wrap">#}
{#                  <h3>МАРАФОНЫ</h3>#}
{#                  <img src="{% static 'img/Main%20navigation%20marathons.png' %}" alt="">#}
{#              </div>#}
{#          </a>#}
{#          <a href="/actions">#}
{#              <div class="navigation__block-wrap">#}
{#                  <h3>ФИТНЕС-АКЦИИ</h3>#}
{#                  <img src="{% static 'img/Main%20navigation%20actions.png' %}" alt="">#}
{#              </div>#}
{#          </a>#}
{#          <a href="/blog">#}
{#              <div class="navigation__block-wrap">#}
{#                  <h3>БЛОГ</h3>#}
{#                  <img src="{% static 'img/Main%20navigation%20blog.png' %}" alt="">#}
{#              </div>#}
{#          </a>#}
{#      </div>#}
{#    </div>#}

    <!--  /navigation-->

    <div class="transition">
      <img src="{% static 'img/Transition.png' %}" alt="">
    </div>

    <div class="about-block">
      <h2>О нас</h2>
      <div class="about-block__wrapper">
        <div class="wrapper__text-block">
          <h3>Наша миссия</h3>
          <p>Миссия MIROS - мотивировать людей вести здоровый образ жизни через эстетику спорта и правильного питания </p>
          <p>В наших социальных сетях вы найдете полезную информацию о спорте, питании и здоровом образе жизни, а также объявления о ближайших фитнес-событиях MiRos</p>

          <div class="text-block__social-media-block">
            <div class="social-media">
              <img src="{%  static 'img/Inst%20icon.png' %}" alt="">
              <a class="about-link" href="https://www.instagram.com/miros.platform/">Inastagram</a>
            </div>
            <div class="social-media">
              <img src="{% static 'img/Tg%20icon.png' %}" alt="">
              <a class="about-link" href="https://t.me/mirosplatform">Telegram</a>
            </div>
          </div>

          <p class="additional-text">Мы выступаем за реалистичный и естественный образ жизни, а также за достоверную информацию в сфере питания и спорта. Наши публикации составлены совместно со специалистами или с использованием научных статей, а также имеют рекомендательный характер</p>
        </div>
        <figure>
          <img src="{% static 'img/Main%20polaroid%201.png' %}" alt="">
        </figure>
      </div>
      <div class="bot-block__wrapper">
        <figure><img src="{% static 'img/Bot%20demo.png' %}" alt=""></figure>
        <div class="wrapper__text-block">
          <h3>Telegram бот</h3>
          <p>MiRos Nutrition, задача которого - составить сбалансированный и здоровый рацион через оценку энергетической ценности продукта </p>
          <p>Бот сообщит о еде все, что вам необходимо знать: калорийность, кол-во белков, жиров и углеводов</p>
          <p class="bot-link"><a href="https://t.me/MiRosPlatformBot" class="wrapper__text-block-link">@MiRosPlatformBot</a></p>
        </div>
      </div>
    </div>
    <!-- /about-->

  </div>
  <!--  /second-section -->


  <div class="feedback">
    <div class="feedback__text-block">
      <h2>Отзывы</h2>
      <p>Наши участники часто делятся эмоциями от марафонов и тренировок MiRos </p>
      <p>Послушайте впечатления от тех, кто стал частью нашей команды!</p>
      <img src="{% static 'img/Logo%20MR%20small%20white.png' %}" alt="" class="logo">
    </div>


    <div class="video-slider">
      <div class="video-slider__phone">
        <img src="{% static 'img/Phone.png' %}" alt="">
      </div>
      <div class="video-slider__wrap">
        <div class="video-slider__carousel" id="slider">
          {% comment %} <div class="video-slider__image-wrap">
            <img src="{% static 'img/Feedback%20video.png' %}" alt="">
          </div> {% endcomment %}
          <div class="video-slider__image-wrap">
            <video controls preload="auto" src="{% static 'video/IMG_7462.MOV' %}" alt="">
          </div>
          <div class="video-slider__image-wrap">
            <video controls preload="auto" src="{% static 'video/IMG_8982.MOV' %}" alt="">
          </div>
          {% comment %} <div class="video-slider__image-wrap">
            <video src="{% static 'video/IMG_0414.MOV' %}" alt="">
          </div> {% endcomment %}
          <div class="video-slider__image-wrap">
            <video controls preload="auto" src="{% static 'video/video_2021-09-09_19-22-36.mp4' %}" alt="">
          </div>
        </div>
      </div>


      <div class="video-slider__leaf-buttons">
        <div class="leaf-button leaf-button__arrow-left shadow" onclick="plusSlide(-1)">
          <img src="{% static 'img/Arrow%20button.png' %}" alt="">
        </div>
        <div class="leaf-button shadow-inverse leaf-button__arrow-right" onclick="plusSlide(1)">
          <img src="{% static 'img/Arrow%20button.png' %}" alt="">
        </div>
      </div>

      <div class="video-slider__dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>
  <!--  /feedback-->

  <div class="commentaries">
    <h2>Комментарии</h2>
    <div class="commentaries-slider" id="carousel">
    <div class="commentary-wrap">
      <div class="commentary card shadow">
        <img src="{% static 'img/commentary-1.jpg' %}" alt="">
        {% comment %} <h3>Марафон 05.05-16.05
        </h3>
        <p>Очень редко встречается тот продукт или услуга, которая несёт в себе столько ценности и на 100000% оправдывает свою цену!</p>

        <p>За время марафона я заметила качественные изменения в теле, благодаря силовым тренировкам и растяжке оффлайн!</p>

        <p>Живые встречи и знакомства с такими же заряженными людьми дают стимул не сдаваться! Это прям очень важно!!!! Спасибо вам за это ♥</p>
        ️
        <p>А так же внимательность и чуткость со стороны кураторов и организаторов в общем чате, ничего не оставляют без внимания 💕</p>
        <p>MiRos вы супер крутые❗️Развития Вам, покорения новых вершин❗</p>
        <p>Ждите меня на следующем марафоне 😉</p> {% endcomment %}
      </div> 
    </div>
      
    <div class="commentary-wrap">
      <div class="commentary card shadow">
        <h3>Марафон 05.05-16.05
        </h3>
        <p>Очень редко встречается тот продукт или услуга, которая несёт в себе столько ценности и на 100000% оправдывает свою цену!</p>

        <p>За время марафона я заметила качественные изменения в теле, благодаря силовым тренировкам и растяжке оффлайн!</p>

        <p>Живые встречи и знакомства с такими же заряженными людьми дают стимул не сдаваться! Это прям очень важно!!!! Спасибо вам за это ♥</p>
        ️
        <p>А так же внимательность и чуткость со стороны кураторов и организаторов в общем чате, ничего не оставляют без внимания 💕</p>
        <p>MiRos вы супер крутые❗️Развития Вам, покорения новых вершин❗</p>
        <p>Ждите меня на следующем марафоне 😉</p>
      </div>
    </div>
    <div class="commentary-wrap">
      <div class="commentary card shadow">
        <h3>Марафон 05.05-16.05
        </h3>
        <p>Очень редко встречается тот продукт или услуга, которая несёт в себе столько ценности и на 100000% оправдывает свою цену!</p>

        <p>За время марафона я заметила качественные изменения в теле, благодаря силовым тренировкам и растяжке оффлайн!</p>

        <p>Живые встречи и знакомства с такими же заряженными людьми дают стимул не сдаваться! Это прям очень важно!!!! Спасибо вам за это ♥</p>
        ️
        <p>А так же внимательность и чуткость со стороны кураторов и организаторов в общем чате, ничего не оставляют без внимания 💕</p>
        <p>MiRos вы супер крутые❗️Развития Вам, покорения новых вершин❗</p>
        <p>Ждите меня на следующем марафоне 😉</p>
      </div>
    </div>
    </div>
      <div class="round-buttons leaf-buttons">
        <button class="leaf-button leaf-button__arrow-left shadow" onclick="changeCommentary(-1)">
          <img src="{% static 'img/Arrow%20button.png' %}" alt="">
        </button>
        <button class="leaf-button leaf-button__arrow-right shadow-inverse" onclick="changeCommentary(1)">
          <img src="{% static 'img/Arrow%20button.png' %}" alt="">
        </button>
      
  </div>
  <img src="{% static 'img/FEEDBACK.png' %}" alt="" class="feedback__decoration feedback__decoration-left">
      <img src="{% static 'img/FEEDBACK.png' %}" alt="" class="feedback__decoration feedback__decoration-right"> 
  </div>
  <!--  /commentary-->
      <script src="{% static 'js/carousel.js' %}"></script>
      <script src="{% static 'js/slider.js' %}"></script>
      <script src="{% static 'js/header.js' %}"></script>
</section>
{% endblock %}