.player {
    position: relative;
    width: 230px;
    height: 440px;
    border-radius:12px;
    overflow: hidden;
    cursor: pointer;

    video {
        object-fit: fill;
    }

    &__button {
        position: absolute;
        top: 50%;
        width: 35px;
        height: 35px;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        border-radius: 50px;
        padding: 10px;
        cursor: pointer;
        background-color: ghostwhite;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 25px;
            transform: translateX(10%)
        }
    }
}