<div class="callback-popup">
    <figure class="callback-popup__img">
        <img src="" alt="">
    </figure>

    <div class="callback-popup__form">
        <h2>Оставьте свои контакты</h2>
        <form>
            <label>
                Имя
                <input formControlName="name" type="text">
            </label>

            <label>
                Email
                <input formControlName="email" type="email">
            </label>

            <label>
                Номер телефона
                <input formControlName="phone" type="phone" placeholder="">
            </label>

            <button>Отправить</button>
        </form>
    </div>
</div>
<div class="overlay"></div>
