.hero {
  padding-top: 70px;
  height: 70vh;
  margin-bottom: -5px;
  position: relative;

  &__text-block {
    position: absolute;
    top: 150px;
    left: 80px;

    @media screen and (max-width: 596px) {
      top: 20%;
      left: 50%;
      transform: translate(-50%, -20%);

      h1 {
        text-shadow: 1px 1px 5px black;
        font-size: 32px;
      }

      p {
        text-shadow: 1px 1px 5px ghostwhite;
      }

      a {
        cursor: default;
        text-shadow: 1px 1px 5px black;
      }
    }
  }

  &__header {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 59px;
    /* identical to box height */

    text-align: left;

    color: #b4ffbb;
  }

  &__text {
    width: 400px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    text-align: justify;
    color: #282828;

    margin: 15px 0 30px;
  }

  &__link {
    cursor: pointer;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    position: relative;

    color: #b4ffbb;

    &:after {
      display: block;
      content: "";
      background: url("../../../../assets/img/Arrow\ green.png") center
        no-repeat;
      min-width: 20px;
      min-height: 40px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-40%) translateX(150%);
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
