<div class="feedback">
    
  <div class="feedback__text-block">
    <h2>{{ content?.reviewHeader }}</h2>
    <p><markdown [data]="content?.reviewText"></markdown></p>
    <img src="assets/img/Logo%20MR%20small%20white.png" alt="" class="logo" />
  </div>

  <div class="video-slider">
    <div class="video-slider__phone">
      <img src="assets/img/Phone.png" alt="" />
    </div>

    <div class="video-slider__wrap">
      <div class="video-slider__carousel" id="slider">
        <div class="video-slider__image-wrap">
          <video
            preload="auto"
            controls
            src="assets/video/IMG_7462.MOV"
          ></video>
        </div>
        <div class="video-slider__image-wrap">
          <video
            preload="auto"
            controls
            src="assets/video/IMG_8982.MOV"
          ></video>
        </div>
        <div class="video-slider__image-wrap">
          <video
            preload="auto"
            controls
            src="assets/video/video_2021-09-09_19-22-36.mp4"
          ></video>
        </div>
      </div>
    </div>

    <div class="video-slider__leaf-buttons">
      <div
        class="leaf-button leaf-button__arrow-left shadow"
        onclick="plusSlide(-1)"
      >
        <img src="assets/img/Arrow%20button.png" alt="" />
      </div>
      <div
        class="leaf-button shadow-inverse leaf-button__arrow-right"
        onclick="plusSlide(1)"
      >
        <img src="assets/img/Arrow%20button.png" alt="" />
      </div>
    </div>

    <div class="video-slider__dots">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>
</div>
<!--  /feedback-->
