<div class="feedback">
  <div class="feedback__text-block">
    <h2>{{ content?.reviewsHeader }}</h2>
    <p><markdown [data]="content?.reviewsText"></markdown></p>
    <img src="assets/img/Logo%20MR%20small%20white.png" alt="" class="logo" />
  </div>

  <div [style.position]="'relative'">
    <div class="carousel-wrap">
      <carousel
        [height]="600"
        [width]="230"
        [cellWidth]="250"
        [cellsToShow]="1"
        [arrowsTheme]="'light'"
        [arrowsOutside]="false"
      >
        <div *ngFor="let video of content?.videos" class="carousel-cell">
          <app-player [src]="video?.url"></app-player>
        </div>
      </carousel>
    </div>
    <div class="feedback__phone">
      <img src="assets/img/Phone.png" alt="" />
    </div>
    <img class="feedback__swipe-icon" src="assets/img/swipe.png" alt="swipe icon">
  </div>
</div>
<!--  /feedback-->
