<section class="section">
  <h3 class="hero__button hero__button-miros">
    <a routerLink="/">MIROS PLATFORM</a>
  </h3>
  <h3 class="hero__button hero__button-main"><a routerLink="/">ГЛАВНАЯ</a></h3>
  <h3 class="hero__button hero__button-marathons">
    <a href="/marathons">МАРАФОНЫ</a>
  </h3>
  <h3 class="hero__button hero__button-actions">
    <a href="/actions">АКЦИИ</a>
  </h3>
  <div class="article">
    <div class="article__first-block">
      <figure>
        <img src="assets/img/About%20main%20.png" alt="" />
      </figure>
    </div>
  </div>
  <figure class="figure-center">
    <img src="assets/img/Arrow.png" alt="" />
  </figure>
</section>
<section class="section">
  <div class="article__block">
    <h2>МЫ - <i>MIROS TEAM</i></h2>
    <p>
      Идея MiRos появилась вместе с желанием создать комплексную платформу,
      которая собрала бы в себе все важные аспекты здорового образа жизни и
      совместила бы их так, чтобы любой человек мог добиться реалистичного и
      естественного подхода к спорту, питанию, и психологии зож
    </p>
    <figure>
      <img src="assets/img/About%20polaroid.png" alt="" />
    </figure>
  </div>

  <div class="article__block">
    <h2>Наша миссия</h2>
    <p>
      Помочь людям построить здоровые отношения со своим телом через
      реалистичный подход к ЗОЖ и эстетику спорта
    </p>
    <p class="align-left">Сегодня <b>наш проект</b> это -</p>
    <ul>
      <li>
        регулярные тренировки с профессионалами в совершенно разных
        фитнес-направлениях
      </li>
      <li>
        марафоны с целью создания эффективной, но регулярной фитнес-рутины
      </li>
      <li>
        консультации со специалистами в области диетологии, нутрициологии и
        психологии
      </li>
      <li>блог с проверенной эксклюзивной информацией о спорте и питании</li>
    </ul>
    <figure>
      <img src="assets/img/About%20polaroid%202.png" alt="" />
    </figure>
  </div>

  <div class="article__block">
    <h2>TELEGRAM КАНАЛ</h2>
    <p>
      Здесь ты найдёшь разноплановую информацию о фитнесе: эффективные
      тренировки, вкусные и полезные рецепты, а также просто факты и лайфхаки,
      которые помогут тебе сделать своё тело более выносливым и энергичным
    </p>
    <a href="tg">@MiRos</a>
  </div>

  <div class="article__block">
    <h2>Instagram</h2>
    <p>
      Эстетика здоровья и спорта в аккаунте нашего инстаграма. Здесь мы
      регулярно размещаем всю актуальную информацию о работе проекта, а также
      расписание ближайших спортивных событий MiRos
    </p>
    <a href="inst">@miros.platform</a>
    <figure>
      <img src="assets/img/About%20polaroid%203.png" alt="" />
    </figure>
  </div>

  <div class="article__block">
    <h2>Опыт</h2>
    <ul>
      <li>Первый марафон MIROS (01.02.21 - 14.02.21)</li>
      <li>Второй марафон MIROS (05.05.21 - 16.05.21)</li>
      <li>Летний спортивный сезон с MIROS 2021</li>
      <li>Встречи-консультации со специалистами</li>
    </ul>
  </div>

  <div class="article__block">
    <h2>TELEGRAM БОТ</h2>
    <p>
      Телеграм-бот, задача которого - составить сбалансированный и здоровый
      рацион через оценку энергетической ценности продукта
    </p>
    <a href="bot">@MiRosPlatformBot</a>
    <figure><img src="assets/img/Bot%20demo.png" alt="" /></figure>
  </div>

  <div class="article__block">
    <h2>Контакты</h2>
    <p>
      Мы открыты к сотрудничеству со специалистами в сфере спорта, психологии,
      диетологии и нутрициологии
    </p>
    <a href="#">miros.platform@gmail.com</a>
  </div>
</section>
