<section class="section">

  <!-- <h3 class="hero__button hero__button-miros">
    <a routerLink="/">MIROS PLATFORM</a>
  </h3>
  <h3 class="hero__button hero__button-main"><a routerLink="/">ГЛАВНАЯ</a></h3>
  <h3 class="hero__button hero__button-marathons">
    <a href="/marathons">МАРАФОНЫ</a>
  </h3>
  <h3 class="hero__button hero__button-actions">
    <a href="/actions">АКЦИИ</a>
  </h3> -->

  <div class="article">
    <div class="article__first-block">
      <figure>
        <img [src]="content.mainImage.url" alt="" />
      </figure>
    </div>
  </div>
  <figure class="figure-center">
    <img src="assets/img/Arrow.png" alt="" />
  </figure>
</section>
<section class="section">
  <div class="article__block">
    <h2>{{ content.welocmeHeader }}</h2>
    <p>
      <markdown [data]="content.welcomeText"></markdown>
    </p>
    <figure>
      <img [src]="content.welcomeImage.url" alt="" />
    </figure>
  </div>

  <div class="article__block">
    <h2>{{ content.missionHeader }}</h2>
    <p>
      <markdown [data]="content.missionText"></markdown> 
    </p>
    <figure>
      <img [src]="content.missionMedia.url" alt="" />
    </figure>
  </div>

  <div class="article__block">
    <h2>{{ content.telegramBlockHeader }}</h2>
    <p>
      <markdown [data]="content.telegramBlockText"></markdown>
    </p>
    <a href="tg">@MiRos</a>
  </div>

  <div class="article__block">
    <h2>{{ content.instagramBlockHeader }}</h2>
    <p>
      <markdown [data]="content.instagramBlockText"></markdown>
    </p>
    <a href="inst">@miros.platform</a>
    <figure>
      <img [src]="content.instagramBlockImage.url" alt="" />
    </figure>
  </div>

  <div class="article__block">
    <h2>{{ content.experienceHeader }}</h2>
    <markdown [data]="content.experienceText"></markdown>
  </div>

  <div class="article__block">
    <h2>{{ content.telegramBotHeader }}</h2>
    <p>
      <markdown [data]="content.telegramBotText"></markdown>
    </p>
    <a href="bot">@MiRosPlatformBot</a>
    <figure><img [src]="content.telegramBotImage.url" alt="" /></figure>
  </div>

  <div class="article__block">
    <h2>{{ content.contactsHeader }}</h2>
    <p>
      {{ content.contactsText}}
    </p>
    <a href="mailto:miros.platform@gmail.com">miros.platform@gmail.com</a>
  </div>
</section>
