.article-card {
    height: 485px;
    padding: 20px 20px 15px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    background-color: var(--primary-black);
    cursor: pointer;
    color: ghostwhite;
    
    &__categories {
        min-height: 29px;
        padding: 10px 0;
        display: flex;
    }

    &__category {
        width: min-content;
        padding: 5px 10px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 20px;
        color: var(--primary-black);
        margin-right: 8px;    
        font-family: Raleway, sans-serif;
        cursor: pointer;
        transition: ease-in-out 0.2s;
        display: block;

        &:hover {
            background-color: var(--primary-green);
            transform: scale(1.1);
        }
    }
    h2 {
        text-align: left;
        text-transform: uppercase;
        font-size: 1.4em;
        padding: 10px 0;
        color: ghostwhite;
    }

    img {
        border-radius: 8px;
        height: 200px;
        width: 100%;
        object-fit: cover;
    } 
    &__text-wrap {
        height: 25%;
        overflow: hidden;
    }
    &__reactions {
        position: absolute;
        bottom: 16px;
        right: 16px;
        z-index: 101;
        display: flex;
        justify-content: space-between;
        background-color: #515151;
        width: 80px;
        border-radius: 8px;

        figure {
            padding: 5px 5px 0;
            margin: 0;
            transition: 0.2s ease-in-out;

            &:hover {
                transform: scale(1.2)
            }
        }
        img {
            width: 30px;
            height: 30px;
            object-fit: cover;
        }
    }
    .overlay {
        position: absolute;
        bottom: 20px;
        z-index: 100;
        left: 0;
        right: 0;
        height: 100px;
        background: linear-gradient(transparent 0%, var(--primary-black) )
    }
}