.article-card {
    width: 350px;
    height: 485px;
    padding: 20px 20px 10px;
    margin: 0 10px;
    border-radius: 12px;
    overflow: hidden;
    background-color: var(--primary-black);
    cursor: pointer;
    color: ghostwhite;
    
    &__categories {
        padding: 10px 0;
    }
    &__category {
        padding: 5px 10px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 20px;
        color: var(--primary-black);
        margin-right: 8px;    
        font-family: Raleway, sans-serif;
        cursor: pointer;
        transition: ease-in-out 0.2s;

        &:hover {
            background-color: var(--primary-green);
        }
    }
    h2 {
        text-align: left;
        text-transform: uppercase;
        font-size: 1.4em;
        padding: 10px 0;
        color: ghostwhite;
    }

    img {
        border-radius: 8px;
        height: 200px;
        width: 100%;
        object-fit: cover;
    } 
    &__text-wrap {
        height: 25%;
        overflow: hidden;
    }
    &__reactions {
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        background-color: #515151;
        width: 65px;
        padding: 5px;
        border-radius: 8px;
        img {
            width: 30px;
            height: 30px;
            object-fit: cover;
        }
    }
}